#err_404_box > div.mdl-card__title {
  color: #fafafa;
  background: url('/images/missing-link.jpg') center / cover;
  height:121px;
}

#err_browser_box > div.mdl-card__title {
  color: #fafafa;
  background: url('/images/ysnp.png') center / cover;
  height:121px;
}

