<div id="loading_card" class="animated flipInY stackable-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Loading...</h2>
  </div>
  <div class="mdl-card__supporting-text">
    We are grabbing data from Github in the background and analyzing it, wait for more cards!
    <br/><br/>
    <div id="p1" class="mdl-progress mdl-js-progress mdl-progress__indeterminate">&nbsp;</div>
    <div id="loading_message">
      &nbsp;
    </div>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <button id="close_loading_card" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Hide this card
    </a>
  </div>
</div>


