<div id="org_members_box" class="animated flipInY stackable-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Issues</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Some org members
    <ul>
      <li>Aaron</li>
      <li>Benjamin</li>
      <li>Charles</li>
      <li>David</li>
      <li>Eden</li>
      <li>Frank</li>
      <li>Gerald</li>
      <li>Hillel</li>
    </ul>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a href="/#orgs/{{orgName}}/issues" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      All Issues
    </a>
  </div>
</div>

