<div class="vcenter-main">
  <div id="no_org_box" class="center-card animated slideInLeft mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Houston, we have a problem here.</h2>
    </div>
    <div class="mdl-card__supporting-text">
      It seems this account (<strong>{{username}}</strong>) is not connected to any organization.<br/>
      <h5> What you can do ? </h5>
      <ol>
        <li>Verify <strong>{{username}}</strong> is a member of an organization. </li>
        <li>Please make sure the access token you gave us has access to read your organizations' data. If you added the need privileges to the existing token - you can just refresh this page.</li>
        <li>Sign Out and enter a new access token.</li>
      </ol>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a href="/#sign_out" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        Sign Out
      </a>
    </div>
  </div>
</div>
