<div class="vcenter-main">
  <div id="err_message_box" class="center-card mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Error</h2>
    </div>
    <div class="mdl-card__supporting-text">
      {{message}}
    </div>
  </div>
</div>

