<div class="vcenter-main">
  <div id="err_404_box" class="center-card mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">404 Not Found</h2>
    </div>
    <div class="mdl-card__supporting-text">
      {{#if message}}
        <em>{{message}}</em>
        <br />
        <br />
      {{/if}}
      There are 2 plausible scenarios: <br/>
      <br/>
      1. You can't type<br/>
      2. We broke something<br/>
      <br/>
      Honestly, it is probably our fault.<br/>
      You are awesome.<br/>
      <br/>
      No worries, just go back <a href="/">home</a>.
    </div>
  </div>
</div>

