<div>
  <header class="mdl-layout__header is-casting-shadow">
    <nav class="mdl-navigation">
      <a href="/" class="mdl-layout-title">Github Organization Stats</a>
      <div class="mdl-layout-spacer"></div>      
      <a href="/#orgs_pick" class="mdl-navigation__link">Switch Organization</a>
      <a href="/#sign_out" class="mdl-navigation__link">Sign Out</a>
    </nav>
  </header> 
</div>
<!-- only default card here is overview, rest are added after render -->
{{> orgs.overview.card }}
