<div>
  <header class="mdl-layout__header is-casting-shadow">
    <nav class="mdl-navigation">
      <a href="/" class="mdl-layout-title">A Better Github Organization Dashboard</a>
      <div class="mdl-layout-spacer"></div>      
      <a href="/#orgs_pick" class="mdl-navigation__link">Switch Organization</a>
      <a href="/#menu" class="mdl-navigation__link"><img style="height:24px;width:24px" src="{{user.avatar_url}}" /> {{user.login}}</a>
    </nav>
  </header> 
</div>
<!-- only default card here is overview, rest are added after render -->
{{> orgs.overview.card }}
